Board {
    display: grid;
    display: -ms-grid;
    height: 930px;
    border: 1px solid black;
    grid-template-columns: auto 174px 105px;
    grid-template-rows: 27% 27% 27% 19%;
    -ms-grid-columns: auto 174px 105px;
    -ms-grid-rows: 29% 29% 30% 12%;
    background: url("../img/Fond.png") no-repeat;
    background-size: 100% 100%;
}
BoardOpp {
    grid-column: 1; grid-row: 1;
    -ms-grid-column: 1; -ms-grid-row: 1;
    background-color: #ff000055;
    border: 1px solid black;
    display: flex;
}

BoardOpp> div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
GraveyardOpp {
    grid-column: 2; grid-row: 1;
    -ms-grid-column: 2; -ms-grid-row: 1;
    background-color: #ff000055;
    border: 1px solid black;
    display: flex;
}

GraveyardOpp> div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

PvOpp {
    grid-column: 3; grid-row: 1;
    -ms-grid-column: 3; -ms-grid-row: 1;
    background-color: #ff000055;
    border: 1px solid black;
    display: block;

}
BoardPlayer {
    grid-column: 1; grid-row: 2;
    -ms-grid-column: 1; -ms-grid-row: 2;
    background-color: #6596EBb3;
    border: 1px solid black;
    display: flex;

}

boardplayer> div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

GraveyardPlayer {
    grid-column: 2; grid-row: 2;
    -ms-grid-column: 2; -ms-grid-row: 2;
    background-color: #6596EBb3;
    border: 1px solid black;
    display: flex;
}

GraveyardPlayer> div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

PvPlayer {
    grid-column: 3; grid-row: 2;
    -ms-grid-column: 3; -ms-grid-row: 2;
    background-color: #6596EBb3;
    border: 1px solid black;
    display: block;
}
Hand {
    grid-row: 3; grid-column: 1 / 4;
    -ms-grid-row: 3; -ms-grid-column: 1;-ms-grid-column-span: 3;
    background-color: #6596EBb3;
    border: 1px solid black;
    display: flex;
}

Hand> div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


Draw {
    grid-column: 1; grid-row: 4;
    -ms-grid-column: 1; -ms-grid-row: 4;
    border: 1px solid black;
    background-color: #6596EBb3;
    display: flex;
    width: 20%;
}
Invocations {
    grid-column: 1; grid-row: 4;
    -ms-grid-column: 1; -ms-grid-row: 4;
    margin-left: 20%;
    width: 55%;
    border: 1px solid black;
    background-color: #6596EBb3;
    display: flex;
}

CurrentEnvironment {
    grid-column: 1; grid-row: 4;
    -ms-grid-column: 1; -ms-grid-row: 4;
    margin-left: 75%;
    width: auto;
    background-color: #6596EBb3;

    display: flex;
}
Traps {
    grid-row: 4; grid-column: 2 / 4;
    -ms-grid-row: 4; -ms-grid-column: 1;-ms-grid-column-span: 1;
    display: flex;

    align-items: center;
    flex-direction: row-reverse;
    background-color: #6596EBb3;

}
Traps> div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}