Board {
    display: grid;
    display: -ms-grid;
    height: 1040px;
    border: 1px solid black;
    grid-template-columns: 220px auto 400px 198px 115px;
    grid-template-rows: 298px 298px 298px 146px;
    -ms-grid-columns: 220px auto 400px 198px 115px;
    -ms-grid-rows: 298px 298px 298px 146px;
    background: url("../img/Fond2.png") no-repeat;
    background-size: 100% 100%;
}
BoardOpp {
    grid-column: 1 / span 3; grid-row: 1;
    -ms-grid-column: 1;-ms-grid-column-span: 3; -ms-grid-row: 1;
    background-color: #ff000055;
    border: 1px solid black;
    display: flex;
    overflow-x: auto;
}

BoardOpp> div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
GraveyardOpp {
	position: relative;
    grid-column: 4; grid-row: 1;
    -ms-grid-column: 4; -ms-grid-row: 1;
    background-color: #ff000055;
    border: 1px solid black;
    display: flex;
}

GraveyardOpp> div {
	margin: auto;
}

PvOpp {
    grid-column: 5; grid-row: 1;
    -ms-grid-column: 5; -ms-grid-row: 1;
    background-color: #ff000055;
    border: 1px solid black;
    display: block;

}

#nbTrapsId {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

BoardPlayer {
    grid-column: 1 / span 3; grid-row: 2;
    -ms-grid-column: 1;-ms-grid-column-span: 3; -ms-grid-row: 2;
    background-color: #6596EBb3;
    border: 1px solid black;
    display: flex;
    overflow-x: auto;

}

boardplayer> div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

GraveyardPlayer {
	position: relative;
    grid-column: 4; grid-row: 2;
    -ms-grid-column: 4; -ms-grid-row: 2;
    background-color: #6596EBb3;
    border: 1px solid black;
    display: flex;
}

GraveyardPlayer> div {
	margin: auto;
}

PvPlayer {
    grid-column: 5; grid-row: 2;
    -ms-grid-column: 5; -ms-grid-row: 2;
    background-color: #6596EBb3;
    border: 1px solid black;
    display: block;
}
Hand {
    grid-row: 3; grid-column: 1 / span 5;
    -ms-grid-row: 3; -ms-grid-column: 1;-ms-grid-column-span: 5;
    background-color: #6596EBb3;
    border: 1px solid black;
    display: flex;
    overflow-x: auto;
}

Hand> div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


Draw {
    grid-column: 1; grid-row: 4;
    -ms-grid-column: 1; -ms-grid-row: 4;
    border: 1px solid black;
    background-color: #6596EBb3;
    display: flex;
}
Invocations {
    grid-column: 2; grid-row: 4;
    -ms-grid-column: 2; -ms-grid-row: 4;
    border: 1px solid black;
    background-color: #6596EBb3;
    display: flex;
}

CurrentEnvironment {
    grid-column: 3; grid-row: 4;
    -ms-grid-column: 3; -ms-grid-row: 4;
    border: 1px solid black;
    background-color: #6596EBb3;
    display: flex;
}

Traps {
    grid-row: 4; grid-column: 4 / span 2;
    -ms-grid-row: 4; -ms-grid-column: 4;-ms-grid-column-span: 2;
    border: 1px solid black;
    background-color: #6596EBb3;
    display: flex;

    align-items: center;
    flex-direction: row-reverse;
}
Traps> div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#nbCardsId {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#handImgId {
    vertical-align : middle;
}

.grave-button {
    height: 22.5px;
    text-align: center;
    margin-top: -1px;
    display: inline;
    vertical-align: text-top;
    margin-left: 10px;
}

#selectInvocations {
    transform: translateY(-60px);
    margin-left: 30px;
    margin-right: 30px;
}

#buttonDisplayInvoc {
    transform: translateY(-60px);
}

.usedCard {
    border-style: dashed;
    border-color: yellow;
}

#extraOppId,#extraPlayerId {
    margin-top: 20px;
}

.graveyardStack {
	margin: auto;
}

.toGraveyardDiv {
	position: absolute;	
	bottom: 2px;
	width: 100%;
}

.toGraveyardDiv> div {
	margin: auto;
	width: 60px;
}

.toGraveyardButton {
	width: 100%;
}

.newTurnButton {
    border: 0;
    height: 40px;
    padding: 0 6px;
    margin-top: 35px;
    margin-left: 15px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(0, 220, 0, 1);
    background-image: linear-gradient(to top left,
    rgba(0, 0, 0, .2),
    rgba(0, 0, 0, .2) 30%,
    rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
    inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.newTurnButton:hover {
    background-color: rgba(0, 255, 0, 1);
}

.newTurnButton:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
    inset 2px 2px 3px rgba(0, 0, 0, .6);
}