Board {
    display: grid;
    height: 750px;
    border: 1px solid black;
    grid-template-columns: 75% 15% 10%;
    grid-template-rows: 33% 33% 33%;
}
BoardOpp {
    grid-column: 1; grid-row: 1;
    background-color: lavender;
    display: flex;
}

BoardOpp> div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
GraveyardOpp {
    grid-column: 2; grid-row: 1;
    background-color: orange;

}
PvOpp {
    grid-column: 3; grid-row: 1;
    background-color: lightpink;

}
BoardPlayer {
    grid-column: 1; grid-row: 2;
    background-color: steelblue;
    display: flex;

}

boardplayer> div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

GraveyardPlayer {
    grid-column: 2; grid-row: 2;
    background-color: aqua;

}
PvPlayer {
    grid-column: 3; grid-row: 2;
    background-color: aquamarine;

}
Hand {
    grid-rows: 3; grid-column: 1 / 4;
    background-color: sandybrown;
    display: flex;
}

Hand> div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}