@charset "ISO-8859-1";

.menuCardDiv {
     position: absolute;
     padding: 0;
     margin: 0;
     background-color: rgba(0, 220, 0, 1);
     display: none;
 }

.menuCardItem {
    white-space: nowrap;
    padding: 3px 6px;
    margin: 0;
    border-bottom: 1px solid rgba(0, 150, 0, 1);
    height: 25px;
    font-size: 1rem;
    text-align: left;
    color: #fff;
    background-color: rgba(0, 220, 0, 1);
    line-height: 25px;
}

.menuCardItem:hover {
	color: rgba(0, 150, 0, 1);
}

.divActionCard {
	white-space: nowrap;
	margin: 0;
	padding: 0;
}

.buttonActionCard {
	width: 22px;
	height: 22px;
}

.plusDmgButton{
    top: 32px;
    left: 3px;
    position: absolute;
}

.minusDmgButton{
    top: 112px;
    left: 3px;
    position: absolute;
}

.divDmg{
    font-size: medium;
    font-weight: bold;
    width: 24px;
    height: 56px;
    text-align: center;
    position: absolute;
    left: 3px;
    top: 54px;
    background: url("../img/onglet.png") no-repeat;
    background-size: 24px 56px;
    align-content: center;
    display: grid;
}

.dmgArea {
    position: absolute;
    top: 80px;
    left: 3px;
    padding: 0;
    margin: 0;
    display: block;
}

.cardDice {
	margin: 2px;
}
.cardBoard {
/*margin-top: auto;
margin-bottom: auto;*/
margin-left: 5px;
}

