.plusDmgButton{
    top: 32px;
    left: 3px;
    position: absolute;
}

.minusDmgButton{
    top: 112px;
    left: 3px;
    position: absolute;
}

.divDmg{
    font-size: medium;
    font-weight: bold;
    width: 24px;
    height: 56px;
    text-align: center;
    position: absolute;
    left: 3px;
    top: 54px;
    background: url("../img/onglet.png") no-repeat;
    background-size: 24px 56px;
    align-content: center;
    display: grid;
}

.dmgArea {
    position: absolute;
    top : 0;
    left : 0;
    padding: 0;
    margin: 0;
    display: block;
}