@font-face {
	font-family: "naruto";
	src: url('njnaruto.ttf');
}

h1 {
    font-family: "naruto", Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: xx-large;
}

body {
    background-image: url("../img/fond.png");
    background-size: 200%;
    /*background-repeat: repeat-y;*/

}