#areaId{
    display: inline-block;
}


#cardList {
    width: 350px;
    height: 850px;
}

#vignetteID{
    height: 850px;
}

#copyButtonId {
    height: 25px;
    width: 64px;
    position: absolute;
    margin-top: 424px;
    margin-left: 382px;
}
#addButtonId {
    height: 25px;
    width: 64px;
    position: absolute;
    margin-top: 200px;
    margin-left: 382px;
    background-color: lawngreen;
}

#removeButtonId {
    height: 25px;
    width: 64px;
    position: absolute;
    margin-top: 230px;
    margin-left: 382px;
    background-color: crimson;
}

#saveButtonId {
    height: 25px;
    width: 64px;
    position: absolute;
    margin-top: 550px;
    margin-left: 382px;
    background-color: cornflowerblue;
}

#openButtonId{
    height: 25px;
    width: 64px;
    position: absolute;
    margin-top: 50px;
    margin-left: 382px;
}

#deckList {
    width: 350px;
    height: 850px;
    resize: none;
    position: absolute;
    margin-top: 0px;
    margin-left: 455px;
}

#textAreaId {
    /*text area*/
    width: 440px;
    height: 16px;
    resize: none;
    position: absolute;
    margin-top: 400px;
}

#counterId{
    position: absolute;
    margin-top: 855px;
    margin-left: 480px;
}

#libelleCounterId{
    position: absolute;
    margin-top: 855px;
    margin-left: 510px;
}