#popinDicesDiv {
	display: none;	
}

.popin_dices {
	position: absolute;
	background-color: white;
	border: 1px solid white;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 700px;
	height: 467px;
	background-size: 1510px 1000px;
	box-shadow: 15px 15px 15px rgba(0,0,0,.8);
}

.popinDicesArea {
	position: absolute;
	background: url("../img/dices_board.png") no-repeat;
	top: 0px;
	left: 0px;
	width: 700px;
	height: 467px;
}

.popinDicesInputDiv {
	position: absolute;
	background: #00000050;
	top: 80px;
	left: 235px;
	width: 230px;
	height: 40px;
	padding: 5px;
}

.popinDicesInputDiv input {
	width: 220px;
	height: 30px;
	background: #eeeeee;
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
}

#popinDicesErrorDiv {
	position: absolute;
	background: #ff000050;
	color: white;
	top: 135px;
	left: 210px;
	width: 280px;
	height: 20px;
	padding: 5px;
	display: none;
	text-align: center;
}

#popinTotalDicesResultDiv {
	position: absolute;
	color: black;
	font-size: 3em;
	text-shadow: 1px 1px #ffffff88, -1px -1px #ffffff88;
	top: 300px;
	left: 330px;
	width: 120px;
	height: 80px;
	display: none;
	text-align: left;
	background: url("../img/fire.png") no-repeat;
	background-size: 120px 80px;
	padding-top: 10px;
	padding-left: 15px;
}

.popinDicesResult {
	position: absolute;
	padding: 3px;
	top: 175px;
	left: 161px;
	width: 386px;
	height: 79px;
	text-align:center;
}

.popinDicesResultWrapper {
	margin: auto;
	width: 150px;
	height: 100px;
}

.popinDicesResultWrapper div {
	box-shadow: 15px 15px 15px rgba(0,0,0,.8);
	width: 70px;
	height: 70px;
	margin-left: 2px;
	margin-right: 2px;
	float:left;
	
	line-height: 70px;
	text-align: center;
	vertical-align: middle;
}

.diceValue {
	margin: auto;
	font-family: Times New Roman, sans-serif;
	font-size: 3.5em;
	font-weight: bold;
	color: #CCA43D;
	text-shadow: -2px -2px #555555, 0 -2px #555555;
	width: 50px;
	height: 26px;
}

.diceMaxValue {
	margin: auto;
	font-family: Times New Roman, sans-serif;
	font-size: 0.9em;
	font-weight: bold;
	color: #CCA43D;
	text-shadow: -1px -1px #333333, 0 -1px #333333;
	width: 64px;
	height: 20px;
	text-align: right;
}