PlayerPv {
    grid-row: 1;
	grid-column: 1 / span 2;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    padding: 5px;
    background: url("../img/heart.png") no-repeat;
    background-size: auto 45px;
    background-position: center top;
    
    display: grid;
    display: -ms-grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30px 27px;
    -ms-grid-columns: 50% 50%;
    -ms-grid-rows: 30px 27px;
}

PlayerPvPoints {
    grid-row: 1;
	grid-column: 1 / span 2;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    display: block;
    text-align: center;
    font-size: 1.8em;
    text-shadow: 2px 2px 3px #000;
    color: #FFF;
    margin-top: 2px;
}

PlayerPvLessPoint {
    grid-row: 2;
	grid-column: 1;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    display: block;
    background: url("../img/minus.png") no-repeat;
    background-size: auto 24px;
    background-position: left center;

}

PlayerPvMorePoint {
    grid-row: 2;
	grid-column: 2;
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    display: block;
    text-align: right;
    background: url("../img/plus.png") no-repeat;
    background-size: auto 24px;
    background-position: right center;
}

PlayerChakra {
    grid-row: 1;
	grid-column: 3 / span 2;
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    padding: 5px;
    background: url("../img/chakra3.png") no-repeat;
    background-size: auto 45px;
    background-position: center top;
    
    display: grid;
    display: -ms-grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30px 27px;
    -ms-grid-columns: 50% 50%;
    -ms-grid-rows: 30px 27px;
}

PlayerChakraPoints {
    grid-row: 1;
	grid-column: 1 / span 2;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    display: block;
    text-align: center;
    font-size: 1.8em;
    text-shadow: 2px 2px 3px #000;
    color: #FFF;
    margin-top: 2px;
}

PlayerChakraLessPoint {
    grid-row: 2;
	grid-column: 1;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    display: block;
    background: url("../img/minus.png") no-repeat;
    background-size: auto 24px;
    background-position: left center;

}

PlayerChakraMorePoint {
    grid-row: 2;
	grid-column: 2;
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    display: block;
    text-align: right;
    background: url("../img/plus.png") no-repeat;
    background-size: auto 24px;
    background-position: right center;
}

PlayerDiceIcon {
    grid-row: 2;
	grid-column: 1 / span 2;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    background: url("../img/dice.png") no-repeat;
    background-size: auto 30px;
    background-position: center;
}

PlayerMessageIcon {
    grid-row: 2;
	grid-column: 3 / span 2;
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    background: url("../img/messages.png") no-repeat;
    background-size: auto 30px;
    background-position: center;
}

NewTurn {
    grid-row: 5;
	grid-column: 1 / span 4;
    -ms-grid-row: 2;
    -ms-grid-column: 4;
    display: flex;
}

PlayerDiceResult {
    grid-row: 3;
	grid-column: 1 / span 4;
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    display: block;
    text-align: center;
    padding-right: 8px;
    font-size: 0.9em;
}

PlayerMessage {
    grid-row: 4;
	grid-column: 1 / span 4;
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    display: block;
    text-align: center;
    padding-right: 8px;
    font-size: 0.9em;
    margin-top: 0px;
}