.divStatusOpponent{
    font-size: medium;
    font-weight: bold;
    width: 59px;
    height: 300px;
    text-align: center;
    position: absolute;
    background: url(../img/onglet-droit.png) no-repeat;
    background-size: 26px 101px;
    align-content: center;
    display: grid;
}

.divStatusPlayer{
    font-size: medium;
    font-weight: bold;
    width: 59px;
    height: 300px;
    text-align: center;
    position: absolute;
    background: url(../img/onglet-droit.png) no-repeat;
    background-size: 26px 101px;
    align-content: center;
    display: grid;
}

.statusArea {
    position: absolute;
    top : 32px;
    left : 145px;
    padding: 0;
    margin: 0;
    display: block;
}


.statusAreaTurned {
    position: absolute;
    top : 92px;
    left : 216px;
    padding: 0;
    margin: 0;
    display: block;
}

.statusAreaOpponent {
     position: absolute;
     top : 32px;
     left : 145px;
     padding: 0;
     margin: 0;
     display: block;
 }
.statusAreaOpponentTurned {
    position: absolute;
    top: 92px;
    left: 216px;
    padding: 0;
    margin: 0;
    display: block;
}

.imgHiddenOpponent{
    content:url("../img/hidden.png") ;
    height : 20px;
    position: absolute;
    top: 17px;
    left: 3px;
}

.imgStunedOpponent{
      content:url("../img/stuned.png") ;
      height : 20px;
      position: absolute;
      top: 40px;
      left: 3px;
  }

.imgRenforcedOpponent{
    content:url("../img/renforced.gif") ;
    height : 20px;
    position: absolute;
    top: 65px;
    left: 0px;
}

.imgHiddenPlayer{
    content:url("../img/hidden.png") ;
    height : 20px;
    position: absolute;
    top: 17px;
    left: 3px;
}

.imgStunedPlayer{
    content:url("../img/stuned.png") ;
    height : 20px;
    position: absolute;
    top: 40px;
    left: 3px;
}

.imgRenforcedPlayer{
    content:url("../img/renforced.gif") ;
    height : 20px;
    position: absolute;
    top: 65px;
    left: 0px;
}