.divStatusOpponent{
    font-size: medium;
    font-weight: bold;
    top : 32px;
    left : 172px;
    width: 28px;
    height: 100px;
    text-align: center;
    background: url(../img/onglet-droit.png) no-repeat;
    background-size: 26px 101px;
    align-content: center;
    display: grid;
    padding: 0;
    margin: 0;
    position: absolute;;
}

.divStatusPlayer{
    font-size: medium;
    font-weight: bold;
    top : 32px;
    left : 172px;
    width: 28px;
    height: 100px;
    text-align: center;
    background: url(../img/onglet-droit.png) no-repeat;
    background-size: 26px 101px;
    align-content: center;
    display: grid;
    padding: 0;
    margin: 0;
    position: absolute;
}

.statusAreaTurned {
    top: 122px;
    left: 251px;
}

.statusAreaOpponentTurned {
    top: 122px;
    left: 251px;
}

.imgHiddenOpponent{
    content:url("../img/hidden.png") ;
    height : 20px;
    position: absolute;
    top: 17px;
    left: 3px;
}

.imgStunedOpponent{
      content:url("../img/stuned.png") ;
      height : 20px;
      position: absolute;
      top: 65px;
      left: 3px;
  }

.imgRenforcedOpponent{
    content:url("../img/renforced.gif") ;
    height : 20px;
    position: absolute;
    top: 41px;
    left: 0px;
}

.imgHiddenPlayer{
    content:url("../img/hidden.png") ;
    height : 20px;
    position: absolute;
    top: 17px;
    left: 3px;
}

.imgStunedPlayer{
    content:url("../img/stuned.png") ;
    height : 20px;
    position: absolute;
    top: 65px;
    left: 3px;
}

.imgRenforcedPlayer{
    content:url("../img/renforced.gif") ;
    height : 20px;
    position: absolute;
    top: 41px;
    left: 0px;
}